.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 30px;
  box-sizing: content-box;
}
.logo {
}
.input {
}
.search {
}
.info {
}
.cart-icon {
}
.favorite-icon {
}
