.wrapper {
  position: relative;
  &:hover {
    .scrollLeft,
    .scrollRight {
      visibility: visible;
    }
  }
}

.items {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  & > * {
    flex: 0 0 280px;
    @media (max-width: 768px) {
      flex: 0 0 200px;
    }
    @media (max-width: 540px) {
      flex: 0 0 120px;
    }
  }
}
.scrollRight,
.scrollLeft {
  visibility: hidden;
  position: absolute;
  top: 50%;
}

.scrollRight {
  right: 0;
  transform: translate(50%, -50%);
}
.scrollLeft {
  left: 0;
  transform: translate(-50%, -50%);
}
