@import "~@/scss/variables.scss";

.item {
  cursor: pointer;
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &:hover .title::after {
    width: 100%;
  }
  @media (max-width: 768px) {
    flex: 0 0 200px;
  }
  @media (max-width: 540px) {
    flex: 0 0 120px;
  }
}
.image {
  position: relative;
  padding: 0px 0px 100% 0px;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.title {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-self: start;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 0;
    background-color: $black;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (max-width: 540px) {
    font-size: 12px;
  }
}
.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  @media (max-width: 769px) {
    font-size: 14px;
  }
  @media (max-width: 540px) {
    font-size: 12px;
  }
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 540px) {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
.price {
  font-size: 30px;
  font-weight: 600;
  @media (max-width: 769px) {
    font-size: 24px;
  }
  @media (max-width: 540px) {
    font-size: 20px;
  }
}
.actions {
  display: flex;
  gap: 10px;
}
